.container {
  position: relative;
  width: 80%;
  left: 10%;
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}


.users ul {
  position: relative;
  width: 160px;
  height: 200px;
  padding: 10px;
}

.img {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 160px;
  list-style: none;
  border-radius: 50%;
  border: 2px solid white;

}

.username {
  position: relative;
  background-color: white;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  font-size: 18pt;
  text-align: center;
  list-style: none
}

.users img {
  height: 150px ;
  width: 150px ;
  border-radius: 50%;
  padding: 5px;
}

.img:hover{
  background-color: yellow;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}