.container {
  position: relative;
  width: 80%;
  left: 10%;
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}


.users ul {
  position: relative;
  width: 160px;
  height: 200px;
  margin: 10px;
  padding: 0;
}

.img {
  position: relative;
  background-color: white;
  width: 160px;
  height: 160px;
  top: 10px;
  list-style: none;
  border-radius: 50%;
  border: 2px solid white
}

.username {
  position: relative;
  background-color: white;
  width: 160px;
  height: 40px;
  margin-top: 15px;
  font-size: 18pt;
  text-align: center;
  list-style: none
}

.users img {
  height: 160px ;
  width: 100%;
  border-radius: 50%;

}

.img:hover{
  border-color: yellow;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}